<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
  <meta charset="utf-8">
  <title>AngularJS</title>
</head>
  <body  ng-app="ex2" ng-controller="AgendaCtrl">
    <h1>AngularJS</h1>
    <div>Nome: <input ng-model="nome" /><br />
    Telefone: <input ng-model="fone" /><br />
    <button class="add btn" ng-click="adiciona()">Adicionar</button></div>
    <table>
      <tr ng-repeat="pessoa in agenda">
        <td>{{pessoa.nome}}</td>
        <td>{{pessoa.fone}}</td>
        <td><button class="delete btn" ng-click="remove($index)">X</button></td>
      </tr>
    </table>
    <script src="script.js"></script>
  </body>
</html>
